<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h1>Welcome to <span class="flavor-text">Amayi's</span> Feature Page!</h2>
    <p>Thie page is a work in progress, but you can still configure your guild. Dashboard built off of <a href="https://github.com/MrAugu/simple-discordjs-dashboard" target="_blank" style="color: var(--accent);">MrAugu's Simple Discord.js Dashboard</a>.</p>
    <a class="primary-button" href="/dashboard">Dashboard</a>
    <a class="secondary-button" href="">Discord Server</a>
  </div>
</div>

<%- include("partials/footer") %>